# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Data
*.sqlite3
*.db
*.tmp

# Ignore secrets
secrets.env
